@charset "utf-8";

@font-face {
	font-family: "EliceDigitalBaeum_Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.aboutus ul,
ol {
	list-style: none;
}

.aboutus a {
	text-decoration: none;
}

/* 사이트 목표 */
.aboutus .goal {
	width: 100%;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column;
}

.aboutus .goal .box1 {
	width: 200px;
	margin-top: 30px;
	margin-left: 40px;
	padding: 10px 0px;
	background-color: rgb(242, 198, 42);
}

.aboutus .goal .box1 p {
	font: bold 1.4rem/1 "arial";
	color: black;
	text-align: center;
}

.aboutus .goal .box2 {
	margin: 30px 40px;
}

.aboutus .goal .box2 p {
	font: bold 1.2rem/2 "arial";
	color: black;
	margin: 20px 10px;
}

/* 개발자 소개 */
.aboutus .introduction {
	width: 100%;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column;
}

.aboutus .introduction .box1 {
	width: 200px;
	margin-top: 30px;
	margin-left: 40px;
	padding: 10px 0px;
	background-color: rgb(242, 198, 42);
}

.aboutus .introduction .box1 p {
	font: bold 1.4rem/1 "arial";
	color: black;
	text-align: center;
}

.aboutus .introduction .box2 {
	height: 100%;
	margin: 30px 40px;
	display: flex;
	justify-content: stretch;
}

.aboutus .introduction .box2 .developer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutus .introduction .box2 .developer .photo {
	min-width: 18vw;
	min-height: 18vw;
	max-width: 18vw;
	max-height: 18vw;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.aboutus .introduction .box2 .developer .state {
	width: 18vw;
	height: 30vh;
	border: 1px solid #ddd;
	margin: 20px 20px;
}
