@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* 초기화 */
ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

/* 상단바 */
.howtouse header {
	width: 100%;
	height: 120px;
	border-bottom: 3px solid #ddd;
	display: flex;
	justify-content: center;
}

.howtouse header .item {
	align-self: center;
	padding: 5px 100px;
	background-color: #ddd;
}

.howtouse header .item a {
	font: bold 22px/1 "arial";
	color: #444;
}

/* 본문 */
.howtouse section {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.howtouse section .box {
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.howtouse section .box .item {
	margin: 20px auto;
	padding: 5px 0px;
	width: 700px;
	background-color: #ddd;
	text-align: center;
	font: bold 16px/1 "arial";
	color: #444;
}
