@charset "utf-8";

@font-face {
	font-family: "EliceDigitalBaeum_Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* 메인 배너 */
.main figure {
	width: 100%;
	height: 20vh;
	border-bottom: 1px solid #ddd;
	display: flex;
}

.main figure .inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main figure .inner p {
	font: normal 1.4rem/2 "EliceDigitalBaeum_Bold";
}

/* 네비게이션 바 */
.main nav {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.main nav .inner {
	height: 80px;
	margin: 0px auto;
}

.main nav .inner #gnb {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #f2c624;
}

.main nav .inner #gnb li a {
	font: normal 1.4rem/1 "EliceDigitalBaeum_Bold";
	color: black;
}

.main nav .inner #gnb li a:hover {
	background: #555;
	color: #fff;
}

.main nav .inner #gnb .border {
	height: 100%;
	border: 1px solid #ddd;
}

/* Top3 */
.main section {
	width: 100%;
	height: 60vh;
}

.main section .inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	color: rgba(0, 0, 0, 0.4);
}

.main section .inner .box {
	width: 100px;
	position: relative;
	margin: 40px 30px;
	display: flex;
	align-items: center;
}
.main section .inner .box img {
	width: 30px;
}

.main section .inner .box p {
	font: normal 24px/1 "EliceDigitalBaeum_Bold";
}

.main section .inner .wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.main section .inner .item {
	width: 20vw;
	height: 20vw;
	border: 1px solid #8a9cb3;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 3px #8a9cb3a9;
}

.main section .inner .item .title {
	position: relative;
	top: 20px;
	width: 100%;
	height: 20%;
	background-color: rgba(156, 171, 194, 0.65);
	color: black;
	font-family: "EliceDigitalBaeum_Bold";
	display: flex;
	align-items: center;
}
