@charset "utf-8";

/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.service ul,
ol {
	list-style: none;
}

.service a {
	text-decoration: none;
}

/* 상단바 */
.service header {
	width: 100%;
	border-bottom: 3px solid #ddd;
}

.service header .inner {
	width: 100%;
	height: 140px;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service header .inner .logo {
	padding: 8px 120px;
	background-color: rgba(242, 198, 42, 1);
}

.service header .inner .logo a {
	font: bold 1.5rem/1 "arial";
	color: black;
}

.service header .inner .util {
	position: absolute;
	top: 0px;
	right: 0px;
}

.service header .inner .util li {
	float: left;
	border: 1px solid #999;
	padding: 15px;
}

.service header .inner .util li a {
	display: block;
	font: 0.8rem/1 "arial";
	color: #999;
	padding: 0px 10px;
}

/* FAQ */
.service .faq {
	width: 100%;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column;
}

.service .faq .box1 {
	width: 200px;
	margin-top: 30px;
	margin-left: 40px;
	padding: 10px 0px;
	background-color: rgb(242, 198, 42);
}

.service .faq .box1 p {
	font: bold 1.4rem/1 "arial";
	color: black;
	text-align: center;
}

.service .faq .box2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 200px;
	margin: 20px 0;
}

.service .faq .box2 li {
	width: 90%;
	height: 5vh;
	border: 2px solid #ddd;
}

/* Q&A */
.service .qna {
	width: 100%;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column;
}

.service .qna .box1 {
	width: 200px;
	margin-top: 30px;
	margin-left: 40px;
	padding: 10px 0px;
	background-color: rgb(242, 198, 42);
}

.service .qna .box1 p {
	font: bold 1.4rem/1 "arial";
	color: black;
	text-align: center;
}

.service .qna .box2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 20px 0;
}

.service .qna .box2 textarea {
	width: 90%;
	height: 200px;
	resize: none;
}

.service .qna .box2 .submit {
	width: 60px;
	height: 30px;
	background-color: rgb(242, 198, 42);
	margin: 20px 0;
}