@charset "utf-8";

@font-face {
	font-family: "EliceDigitalBaeum_Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "EliceDigitalBaeum_Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.classfication ul,
ol {
	list-style: none;
}

.classfication a {
	text-decoration: none;
}

/* 검색 상자 */
.classfication .serchContainer {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.classfication .serchContainer .inputBox {
	width: 30vw;
	height: 50px;
	margin: 0 5px;
	padding: 0 5px;
	border: 2px solid #ddd;
	border-radius: 5px;
	font: normal 1rem/1 "EliceDigitalBaeum_Regular";
}

.classfication .serchContainer .btn {
	width: 4vw;
	height: 50px;
	border: none;
	border-radius: 5px;
	font: normal 1rem/1 "EliceDigitalBaeum_Bold";
	background-color: rgb(242, 198, 36);
}

.classfication .serchContainer .btn:active {
	box-shadow: inset -2px -2px 3px rgba(242, 198, 36, 0.6),
		inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* 카테고리 선택 */
.classfication .list {
	width: 100%;
	height: 100px;
	display: flex;
	border: 1px solid black;
}

.classfication .item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 0.5px solid black;
	border-right: 0.5px solid black;
	font: normal 1.8rem/1 "EliceDigitalBaeum_Bold";
	background-color: rgb(242, 198, 36);
}
.classfication .item p {
	cursor: pointer;
}
.classfication .item p:hover {
	background: #555;
	color: #fff;
}

/* 설문 포스트 박스 */
.postboxContainer {
	width: 100%;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
}
.iconWrapper {
	display: flex;
	justify-content: flex-end;
}
.iconWrapper .sortBy {
	display: flex;
	align-items: center;
	margin: 30px 10px;
	position: relative;
	right: 40px;
	font: normal 1rem/1 "EliceDigitalBaeum_Bold";
	cursor: pointer;
}
.iconWrapper .sortBy img {
	width: 30px;
}
.postboxContainer .postWrapper {
	display: flex;
	margin: 10px 30px;
}
.postboxContainer .postWrapper .inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
