@charset "utf-8";

@font-face {
	font-family: "EliceDigitalBaeum_Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "EliceDigitalBaeum_Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.post ul,
ol {
	list-style: none;
}

.post a {
	text-decoration: none;
}

/* 본문 */
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 3vw 10vw;
}

.container img {
	width: 30px;
	margin: 1vw 0;
	cursor: pointer;
}

.titleBox,
.deadlineBox,
.urlBox,
.category,
.targetBox,
.descriptionBox {
	margin: 1vw 3vw;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-family: "EliceDigitalBaeum_Regular";
	background-color: rgba(180, 201, 254, 0.5);
	border-radius: 4px;
	font-weight: bold;
	font-size: 20px;
}

/* 제목 */
.titleBox {
	max-width: 650px;
	min-height: 80px;
	font-family: "EliceDigitalBaeum_Bold";
	font-size: 28px;
}

/* 마감 */
.deadlineBox {
	max-width: 300px;
	min-height: 30px;
}
.deadlineBox p {
	margin: 0 10px;
	font-weight: normal;
}

/* 수직선 */
hr {
	margin: 10px 0;
	height: 4px;
	background-color: black;
	border-radius: 10px;
}

/* url */
.urlBox {
	max-width: 700px;
	min-height: 50px;
}
.urlBox p {
	min-width: 100px;
	max-width: 500px;
}
.urlBox a {
	font-weight: normal;
	color: inherit;
	text-decoration: underline;
}

/* 분류 */
.inner {
	display: flex;
}
.inner .category {
	width: 200px;
	height: 50px;
}
.inner .category p {
	margin-left: 15px;
	font-weight: normal;
}
.inner img {
	width: 50px;
}

/* 대상 */
.targetBox {
	max-width: 300px;
	height: 60px;
}
.targetBox p {
	margin-left: 15px;
	font-weight: normal;
}

/* 설명 */
.descriptionBox {
	max-width: 100%;
	min-height: 40vh;
	display: flex;
	align-items: flex-start;
	padding: 20px 20px;
	font-weight: normal;
}
